// colors

// Primary brand colors
$cornflower: #0E63F4;
$teal: #33C19F;
$midnight-1: #2E4158;
$midnight-2: #3E5066;
$midnight-3: #4d647f;
$midnight-4: #8C9AA9;

// Accent Colors
$grey-1: #212932;
$grey-2: #343F4A;
$grey-3: #414C58;
$grey-4: #55606C;
$grey-5: #636E7B;
$grey-6: #7D8793;
$grey-7: #9CA5B0;
$grey-8: #DDE4EB;
$grey-9: #E4E7EA;
$grey-10: #F3F6FA;
$indigo-1: #182368;
$indigo-2: #2D3B87;
$indigo-3: #364797;
$indigo-4: #4256A3;
$indigo-5: #4F64B0;
$indigo-6: #667BC5;
$indigo-7: #7E93D6;
$indigo-8: #9BAEE6;
$indigo-9: #C1D0F4;
$indigo-10: #E1E8F7;
$blue-1: #215384;
$blue-2: #2D689E;
$blue-3: #387EBA;
$blue-4: #387EBA;
$blue-5: #4391CE;
$blue-6: #56AFE8;
$blue-7: #67C1F2;
$blue-8: #7CCEF6;
$blue-9: #96DCF9;
$blue-10: #BEEBFD;
$cyan-1: #1F4D53;
$cyan-2: #2E6A73;
$cyan-3: #367A84;
$cyan-4: #418F99;
$cyan-5: #56AFBA;
$cyan-6: #61BCC7;
$cyan-7: #76CED9;
$cyan-8: #9DE8F0;
$cyan-9: #C9F6FC;
$cyan-10: #E5FBFE;
$green-1: #1E4C41;
$green-2: #2F6959;
$green-3: #3A7B65;
$green-4: #459175;
$green-5: #54A886;
$green-6: #65BA96;
$green-7: #83D3B0;
$green-8: #A4EAC9;
$green-9: #D0F5E3;
$green-10: #F1FCF6;
$yellow-1: #823218;
$yellow-2: #A85325;
$yellow-3: #BF7230;
$yellow-4: #D3943B;
$yellow-5: #E7B54A;
$yellow-6: #FFD86B;
$yellow-7: #FFE684;
$yellow-8: #FFEC9E;
$yellow-9: #FFF5CB;
$yellow-10: #FEFBEC;
$red-1: #590F18;
$red-2: #7E191F;
$red-3: #9D2226;
$red-4: #BE2D2E;
$red-5: #D03F40;
$red-6: #DE5A54;
$red-7: #E7736F;
$red-8: #F2A09D;
$red-9: #F5C0BE;
$red-10: #F5C0BE;
$pink-1: #541432;
$pink-2: #6E1D43;
$pink-3: #8F2959;
$pink-4: #9F3066;
$pink-5: #B53C76;
$pink-6: #CA558F;
$pink-7: #D770A5;
$pink-8: #E496BF;
$pink-9: #F0BBD7;
$pink-10: #FAE1EF;

// Vibrant Rainbow Scale colors
$scale-indigo: #6672FB;
$scale-blue-1: #66A2FB;
$scale-blue-2: #56C8EC;
$scale-blue-3: #4DE6F0;
$scale-green-1: #49E4AD;
$scale-green-2: #66FB99;
$scale-green-3: #A8FB66;
$scale-yellow: #E6FB66;
$scale-orange-1: #FBDA66;
$scale-orange-2: #FFBF6F;
$scale-pink: #FFA18C;
$scale-red: #FB6666;