.container {
    // width: 100%;
    // margin-right: auto;
    // margin-left: auto;
    display: flex;
    flex-direction: column;
    // min-width: $min-width;
    // gap: $spacing-unit;

    // &.fullwidth {
    //     max-width: 100vw;
    //     width: 100vw;
    // }
}



.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    max-width: $max-text-width;
    margin: 0 auto;
    text-align: center;
}