.shift-counter {

  display: flex;
  flex-direction: row;

  .label {
    padding: 5px 10px;
    background-color: rgb(55, 102, 196);
    color: white;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.4em;
  }

  .value {
    padding: 5px 10px;
    background: #222;
    color: white;
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 100;
  }

}