.timer {

    .label {
        padding: 5px 10px;
        background-color: #777;
        color: white;
        font-weight: 400;
        font-size: 1.2em;
        line-height: 1.4em;
    }

    .value {
        padding: 5px 10px;
        background: #222;
        color: white;
        font-size: 1.4em;
        letter-spacing: 1px;
        font-weight: 100;

        &.danger {
            color: rgb(255, 80, 80);
        }
    }

    .marker {
        color: #ccc;
    }


}