@import '@/styles/';

body.game {
    background-color: $background-color-light;

    header.game-header {
        $game-header-height: 50px;
        $game-header-color: darken($cornflower, 20%);

        height: $game-header-height;
        background-color: $game-header-color;
        color: $text-color;
        justify-content: space-between;
        padding: 0 calc($spacing-unit / 2);

        .game-logo {
            font-size: 1.4em;
            margin: 0;
            font-style: italic;

            a {
                color: white;
                text-decoration: none;
            }
        }

        .game-stats {
            background-color: $game-header-color;
            height: calc($game-header-height * 3);
            // position: absolute;
            width: 400px;
            padding: 15px 10px 10px;
            // top: -10;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 3em;
            z-index: 9999;

            // box-shadow: 0px 0px 20px rgb(55, 102, 196, 50%);
        }

        .game-controls {
            gap: 5px;
        }
    }

    .game-info-wrap {
        padding: 0 15px;

        .game-info {
            color: $text-color-dark;
            max-width: 600px;
            margin: 60px auto;
            text-align: center;
            background: white;
            padding: calc($spacing-unit / 2);
            border: 1px solid $border-color;
            border-radius: 10px;

            h2 {
                margin: 0;
            }

            .how-illustration {
                margin-bottom: calc($spacing-unit / 2);

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        @media(min-width: $tablet-width) {
            .game-info {
                padding: $spacing-unit;
            }
        }
    }

    .game-countdown-wrap {
        height: 100vh;
        position: relative;

        .loading {
            i {
                font-size: 20em;
            }
        }

        .countdown-value {
            position: absolute;
            color: $text-color-dark;
            font-size: 9em;
            font-weight: $bold-font-weight;
        }
    }
}

.loading {
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner {
        animation: spinFull 1.1s steps(12) infinite;
        background-color: initial;
        background-image: url('/images/loading.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: inline-block;
        font-size: 3em;
        height: 1em;
        line-height: 1em;
        width: 1em;

        &::before {
            content: " ";
        }
    }
}

#game {
    height: 100vh;
    overflow: hidden;

    // header {

    //     font-family: 'Helvetica', sans-serif;
    //     letter-spacing: -.5px;

    //     display: flex;
    //     justify-content: center;

    //     .header-box {
    //         position: absolute;
    //         width: 400px;
    //         padding: 15px 10px 10px;
    //         top: -10;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //         background-color: #eee;
    //         border: 1px solid #333;
    //         border-radius: 10px;
    //         z-index: 9999;

    //         box-shadow: 0px 0px 20px rgb(55, 102, 196, 50%);
    //     }

    //     .controls {
    //         display: flex;
    //         flex-direction: row;

    //         &>* {
    //             margin-right: 10px;
    //         }
    //     }
    // }

    .level-wrap {
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }

    .countdown-modal {
        h2 {
            text-align: center;
            font-size: 12em;
            margin: 40px;
        }
    }

    .finish-modal {
        font-family: 'Helvetica', sans-serif;

        h2 {
            font-size: 1.8em;
        }

        .illustration {
            width: 280px;
            margin-top: -40px;

            img {
                width: 100%;
                height: auto;
            }
        }

        p {
            font-size: 1.1em;
        }

        .cta {
            padding: 20px;
            background: #fafbfe;
            margin: 20px -19px;
            border-top: 2px solid #DDE4EB;
            border-bottom: 2px solid #DDE4EB;

            p {
                font-size: 1.2em;
            }

            .logo {
                width: 240px;
                margin-top: 10px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }


        p+p {
            margin-top: 10px;
        }

        .btn+.btn {
            margin-left: 10px;
        }
    }
}

// footer {
//     font-size: 0.8em;
//     color: #ccc;
//     position: absolute;
//     bottom: 10px;
//     right: 10px;

//     a {
//         color: #ccc;
//     }
// }