@import '../node_modules/reset-css/reset.css';
@import '@/styles/';

body.home {

    $about-width: 360px;

    .container {
        background-color: $background-color;

        .game-panel {
            flex: auto;
            padding: $spacing-unit;
            color: $text-color;
            max-width: 1200px;
            margin: 0 auto;

            .game-hero {
                $hero-height: 400px;
                flex: 1 0 $hero-height;
                max-height: $hero-height;
                height: 40vh;

                >h2 {
                    font-size: 1.2em;
                    margin: 0;
                    font-style: italic;
                }

                >p {
                    font-size: 1.1em;
                }

                .controls {
                    gap: 10px;
                    width: 300px;

                    &>* {
                        flex: 1 1 0px;
                    }
                }
            }

            .game-illustration {
                padding: 0 $spacing-unit;
                flex: auto;

                img {
                    width: 100%;
                }
            }

        }

        .about-panel {

            padding: $spacing-unit;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            border-left: 0.5px solid desaturate(lighten($background-color, 40%), 60);

            color: $text-color-subtle;
            background-color: desaturate(lighten($background-color, 20%), 60);

            .about-links {
                gap: 10px;

                a {
                    gap: 10px;
                    background: $text-color;
                    padding: 8px;
                    border-radius: 10px;
                    font-size: 1.2em;
                    font-weight: $bold-font-weight;
                    text-decoration: none;
                    color: $text-color-dark;

                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }


        @media(min-width: $tablet-width) {
            flex-direction: row;
            min-height: 100vh;

            .game-panel {
                .game-illustration {
                    display: flex;
                }
            }

            .about-panel {
                flex: 0 0 $about-width;
                min-width: $about-width;

                .about-links {
                    margin-top: auto;
                }
            }

        }

    }

    footer.site-footer {
        font-size: 0.9em;
        color: $text-color-subtle;
        padding: calc($spacing-unit / 2);

        a {
            color: $text-color-subtle;
        }
    }

}