@import '../node_modules/reset-css/reset.css';
@import '@/styles/';

body.home {

    $about-width: 360px;
    $content-spacing: 30px;

    .container {
        background-color: $background-color;

        .game-panel {
            flex: auto;
            padding: $content-spacing;
            color: $text-color;
            max-width: 1200px;
            margin: 0 auto;

            .game-hero {
                $hero-height: 400px;
                flex: 1 0 $hero-height;
                max-height: $hero-height;
                height: 40vh;

                >p {
                    font-size: 1.1em;
                }

                .controls {
                    gap: 10px;
                    width: 300px;

                    &>* {
                        flex: 1 1 0px;
                    }
                }
            }

            .game-illustration {
                display: none;
                padding: 0 $content-spacing;
                flex: auto;

                img {
                    width: 100%;
                }
            }

        }

        .about-panel {
            flex: 0 0 $about-width;
            min-width: $about-width;
            padding: $content-spacing;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
            border-left: 0.5px solid desaturate(lighten($background-color, 40%), 60);

            color: $text-color-subtle;
            background-color: desaturate(lighten($background-color, 20%), 60);

            .about-links {
                gap: 10px;

                a {
                    gap: 10px;
                    background: $text-color;
                    padding: 8px;
                    border-radius: 10px;
                    font-size: 1.2em;
                    font-weight: $bold-font-weight;
                    text-decoration: none;
                    color: $text-color-dark;

                    img {
                        width: 40px;
                        height: auto;
                    }
                }
            }
        }


        @media(min-width: $tablet-width) {
            flex-direction: row;
            min-height: 100vh;

            .game-panel {
                .game-illustration {
                    display: flex;
                }
            }

            .about-panel {
                .about-links {
                    margin-top: auto;
                }
            }



            // .about-panel {
            //     flex: auto;
            //     min-width: unset;
            //     max-width: calc(100% - ($content-spacing * 2));
            //     border: none;
            //     box-shadow: none;
            // }

        }

    }

    .modal-wrap {
        color: $text-color-dark;

        .modal-box {
            display: flex;
        }

        footer {
            margin-top: auto;
        }

        .how-illustration {
            margin-bottom: calc($content-spacing / 2);

            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    footer.site-footer {
        font-size: 0.9em;
        color: $text-color-subtle;
        padding: calc($content-spacing / 2);

        a {
            color: $text-color-subtle;
        }
    }

}