.game-wrap {

  .product-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    height: calc(100vh - 60px);

    .item {
      flex: 0 0 33%;
    }
  }



}