<html>

<head>
  <meta name="version" content="<%= version %>">
  <meta name="build_time" content="<%= build_time %>">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <% preact.headEnd %>
</head>

<body>
  <% preact.bodyEnd %>
    <main id="app"></main>
    <footer>
      <div class="container flex justify-center">
        <div>version: <%= version %>
        </div>
        <div>&nbsp;build_time: <%= build_time %>
        </div>
        <div>&nbsp;<a href="/data.html">Data</a></div>
      </div>
    </footer>
</body>

</html>